h1 {
  font-family: 'Satisfy', cursive;
  font-size: 50px
  }
    
h4 {
   margin-bottom: 0;
   }

ul, ol {
   margin-top: 0;
   }

.copyright {
   font-family: Poppins;
   font-size: 15px;
   font-style: italic;
    }
    
body {
   background-color: #FAF0DC;
    }
